footer{
    width: 100%;
    text-align: center;
    color: white;
    height: max-content;
    padding: 30px;
    box-sizing: border-box;
    background-color: #6d787d;
    /* position: absolute;
    bottom: 0px; */
}

.tel,#oo {
    display: inline;
    color:honeydew;
}
#list2 div{
    display: flex;
    justify-content: center;
    align-items: center;
   margin: auto;
   width:max-content;
   text-align: center;
}
#list2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 300px;
}
