*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: max-content;
    flex-direction: column;
    font-family: 'Uchen', serif;
    background-color: white;
    width: 100%;
    margin: 0%;
}

.roomsdetails{
    background: rgb(238, 235, 235);
    display:flex;
    align-content: space-between;
    justify-content: space-around;
    flex-direction:row;
    padding: 4vh 12vw;
}

.differentrooms{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
}

.image{

}

.text{
    text-align: center;
    background: pink;
}

.checked{
    color: red;
}

.customerdetails{
    background: orange;
    display:flex;
    align-content: center;
    justify-content: space-around;
    flex-direction:row;
    padding: 4vh 12vw;
}

.customerinfo{
    width:20vw;
    background: rgb(255, 255, 255);
    padding:0.5vw 1vw 1vw 2vw;
}

label>input{
    width: 65%;
    height: 25px;
}

//

#radio{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
#radio>label{
    width: 28%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   font-weight: 300;
}
#radio>label>input{
    width: 14px;
    height: 14px;
    margin: 0px;
}


.check_in,.check_out{
    width:90%;
    background-color: white;
    height: 16%;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 1.3rem;
    padding: 0px 14px;
    box-sizing: border-box;
}
.check_in>input,.check_out>input{
    width:80%;
    height: 24px;
    border-radius: 2px;
    border: 1px solid rgb(187, 185, 185);
    padding: 2px;
}

#pricing{
    height: 250px;
    width:90%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#pricing>button{
    margin: auto;
}
.upi_img{
    width:140px;
    height:45px;
    background-image: url(../Images/upi.png);
    background-size:cover;
}
.card_img{
    width:140px;
    height:45px;
    background-image: url(../Images/rupay.png);
    background-size:cover;
}
#payment_methods>div{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid lightsteelblue;
}
#pay{
    margin:20px 40px 10px 40px;
}

//

.select-wrapper {
    position: relative;
    user-select: none;
    width: 50%;
}
.select {
    position: relative;
    display: flex;
    flex-direction: column;
    width:15vw;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #394a6d;
}
.select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 11px;
    font-size: 15px;
    font-weight: 300;
    color: #3b3b3b;
    height: 30px;

    line-height: 30px;
    background: #ffffff;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #394a6d;
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #394a6d;
    width:15vw;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}
.select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 11px 0 11px;
    font-size: 15px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 30px;
    width:15vw;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option.selected {
    color: #ffffff;
    background-color: #305c91;
}
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}
.information{
    font-size: 10px;
}
//
